<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>
<br>
<%= link_to "Create Team", new_team_path, class: "btn btn-small btn-primary" %>
<%= will_paginate %>

<ul class="teams">
    <%= render @teams %>
</ul>

<%= will_paginate %>