<% provide(:title, 'Teams') %>
<div class="hero-unit">
<h1>Teams</h1>
<div class="text-right">
<%= link_to "Create Team", new_team_path, class: "btn btn-small btn-primary" %>
</div>

<%= will_paginate %>

<ul class="users">
    <%= render @teams %>
</ul>

<%= will_paginate %>
</div>