<% provide(:title, 'Help') %>
   <div class="center hero-unit"> 
    <h1>Help</h1>
    <h4>
      Get help from the Puzzle Piece Team!
    </h4>
	    <div class="pull-left">
	    	<h2> Frequently Asked Questions </h2>
	    </div>
    </div>