<div class="center hero-unit">
    <h1>Welcome to Puzzle Piece</h1>

    <h2>
      This is the Home Page of the Puzzle Piece Entrepreneurial Platform. Share your Ideas, build Teams, and develop meaningful and impactful products!
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  