<% provide(:title, 'Ideas') %>
<div class="hero-unit">
	<h1>Ideas</h1>
<div class="text-right">
<%= link_to "Create Idea", new_idea_path, class: "btn btn-small btn-primary" %>
</div>
	<div class="pagination-right">
	<%= will_paginate %>
	</div>

	<ul class="users">
	   <%= render @ideas %>
	</ul>

	<div class="pagination-right">
	<%= will_paginate %>
	</div>
</div>