<% @user ||= current_user %>
 <div class="user">
 	<% skills = [] %>
 	<% @idea.requirements.each do |requirement| %>
 		<% skills.push(Skill.find(requirement.skill_id).name) %>
 	<% end %>
 	<% skills.each do |skill| %>
 		<div class="text-success">
 		<%= skill %>
 		</div>
 	<% end %>

 
 