<% @user ||= current_user %>
<div class='team_stats'>
 
    <strong id="Ideas" class="stat">
      <%= @user.skillsets.count %> Skills
      
    </strong>
 </div>
 <div class="user">

 <% skills = [] %>
    <% @user.skillsets.each do |skillset| %>
     <% skills.push(Skill.find(skillset.skill_id).name) %>
   <% end %>
   <% skills.each do |skill|  %>
   		<%= skill %>
   		<br>
   		<% end %>
 </div>
 