<% @user ||= current_user %>
<div class='team_stats'>
 
    <strong id="Ideas" class="stat">
      <%= @user.skillsets.count %> Skills
      
    </strong>
 </div>
 <div class="user">

 </div>
 