<% provide(:title, 'Home') %>
<h1>Puzzle Piece</h1>
<h2>
    This is the home page for the
   Puzzle Piece Online Entreprenuerial Platform
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
