<li>
  <span class="content"><%= wallpost.content %></span>
  <span class="timestamp">
    Posted by <%= User.find_by(wallpost.author_id).name %>, <%= time_ago_in_words(wallpost.created_at) %> ago.
  </span>
</li>